.div-table {
  display: table;         
  width: auto;         
  /* background-color: #eee;         
  border: 1px solid #666666;          */
  border-spacing: 5px; /* cellspacing:poor IE support for  this */
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-row:not(:first-child):hover{
  background-color: cornflowerblue;
}
.div-table-col {
  float: left; 
  display: table-column;         
  width: 200px;         
  /* background-color: #ccc;   */
}

.market-selected{
  background-color: green;
}