:root {
  font-size: 18px;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  border: none;
}

*:disabled {
  background-color: rgb(40, 44, 52);
  border:none;
  color: white;
  font-size: 1rem;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

body{
  background-color: #282c34;
  color: white;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.worker-log-container {
  position: relative;
  overflow: auto;
  height: 300px;
}